
/* lato-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../Fonts/lato-v25-latin/lato-v25-latin-regular.woff2') format('woff2');
}
/* lato-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../Fonts/lato-v25-latin/lato-v25-latin-700.woff2') format('woff2');
}
/* lato-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../Fonts/lato-v25-latin/lato-v25-latin-900.woff2') format('woff2');
}
html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*, *:before, *:after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
body{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
    color: #102746;
    margin: 0;
    padding: 0;
    min-height: 150vh;
}
img{
    max-width: 100%;
    height: auto;
}
.wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper-full{
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}
.section-tittle{
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}
.section-tittle::after{
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #1B7DFF;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Header styles start */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   -webkit-transition: 0.2s linear;
   -o-transition: 0.2s linear;
   transition: 0.2s linear;
   padding-bottom: 20px;
   z-index: 999;
}
.header_active{
background: #0e1d28;
}
.header_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 56px;
}
.header_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.header_item{
    margin-right: 82px ;
}
.header_item:last-child{
    margin-right: 0;
}
.header_link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
}
.header_burger{
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}
.burger_line{
    display: block;
    width: 100%;
    background-color: white;
    height: 2px;
    position: absolute;
    left: 0;
}
.burger_line_first{
    top: 0;
}
.burger_line_second{
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.burger_line_third{
    bottom: 0;
}
/* Header styles end */

/* Intro styles start */
.intro{
    min-height: 100vh;
    background: url(/img/Image.jpg) no-repeat  center;
    background-size: cover;
    padding-top: 20vh;
    padding-bottom: 25vh;
    position: relative;
    z-index: 1;
}
.intro_tittle{
    margin-bottom: 22px;
    max-width: 619px;
    font-weight: 700;
    font-size: 50;
    line-height: 60px;
    color: white;
}
.intro_subtittle{
    color: white;
    font-size: 16px;
    line-height: 24px;
    max-width: 546px;
    margin-bottom: 59px;
}
.search_form-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
}
.search_form-wrap{
    border: 0;
}
.search_form-field{
    background: transparent url(/img/Oval.svg) no-repeat left 6px ;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid white;
    margin-right: 60px;
    width: 297px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-size: 18px;
    font-weight: 700;
    color: white;
}
.search_form-field::-webkit-input-placeholder{
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.search_form-field::-moz-placeholder{
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.search_form-field:-ms-input-placeholder{
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.search_form-field::-ms-input-placeholder{
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.search_form-field::placeholder{
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.search_form-submit{
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 24px;
    background: #1B7DFF;
    border: 0;
}
.search_form-submit:hover, .search_form-submit:focus, .search_form-submit:active{
    background: #023f8e;
}
/* Intro styles end */

/*Benefits styles start*/
.benefits{
    margin-bottom: 131px
}
.benefits_wrap{
    max-width: 1262px;
    margin: -25vh auto 0;
    z-index: 10;
    background-color: white;
    -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
            box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}
.benefits_tittle{
    width: 100%;
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    background-color: white;
}
.benefits_cards{
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 55px;
   grid-row-gap: 55px;
    padding: 0 100px;
}
.benefits_card{
    -ms-grid-column-span: 1;
    grid-column: span 1; 
    margin-bottom: 112px;
}
.benefits_card-pic{
    margin-bottom: 37px;
    max-width: 66px;
}
.benefits_card-thumb{
    display: block;
}
.benefits_card-tittle{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 26px;
}
.benefits_card-desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}
.benefits_card-more{
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 109, 254, 1);
    text-decoration: none;
    background: url(img/Shape.svg) no-repeat 95%  center;
    -webkit-transition: 0.2s all ;
    -o-transition: 0.2s all ;
    transition: 0.2s all ;
}
.benefits_card-more:hover, .benefits_card-more:focus{
     background: url(img/Shape.svg) no-repeat right center;
}
/*Benefits styles end*/

/*Places styles start*/
.places{
    background-color: #fff;
    margin-bottom: 131px;
}
.places_caption{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 36px;
}
.places_view-all{
    font-size: 16px;
    color:  rgba(0, 109, 254, 1);
    text-decoration: none;
    background: url(img/Shape.svg) no-repeat right center;
    padding-right: 59px;
}
.places_title{
    margin-right: 15px;
}
.places_view-all:hover, .places_view-all:focus{
   opacity: 0.65;
}
.places_cards{
display: -ms-grid;
display: grid;
-ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
grid-template-columns: repeat(6, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
}
.places_card{
position: relative;
overflow: hidden;
height: 100%;
margin: 0;
}
figure{
    margin: 0;
}
.places_card:hover .places_card-pic{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}
.places_card::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.places_card-title{
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
    color: white;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}
.places_card_size_lg{
    -ms-grid-column-span: 3;
    grid-column: span 3;
}
.places_card_size_sm{
     -ms-grid-column-span: 2;
     grid-column: span 2;
}
.places_card-pic{
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.15s all;
    -o-transition: 0.15s all;
    transition: 0.15s all;
}
.places_card-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.places_card-pic_size_lg{
    -o-object-fit: cover;
       object-fit: cover;
}
.places_card-pic_size_sm{
    -o-object-fit: cover;
       object-fit: cover;
}
/*Places styles end*/

/*Tours styles start*/
.tours{
    margin-bottom: 139px;
}
.tours_tour{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 108px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 108px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 77px;
}
.tour_info{
    padding-left: 47px;
}
.tour_title{
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 85px;
}
.tour_desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}
.tour_more{
    font-size: 16px;
    color:  rgba(0, 109, 254, 1);
    text-decoration: none;
    background: url(img/Shape.svg) no-repeat right center;
    padding-right: 59px;
}
.tour_more:hover, .tour_more:focus{
   opacity: 0.65;
}
/*Tours styles end*/
/*Top styles start*/
.top{
    margin-bottom: 86px;
}
.top_cards{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 57px;
    grid-row-gap: 57px;
}
.top_title{
    margin-bottom: 54px;
}
.top_card-pic{
    position: relative;
    margin-bottom: 45px;
}
.top_card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column-span: 2;
    grid-column: span 2;
}
.top_card-stats{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
}
.top_card-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: white;
    margin: 0 auto 0 0;
}
.top_card-likes{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: white;
    padding-right: 20px;
    background: url(img/like\ icon.svg) no-repeat right;
    margin-right: 14px;
}
.top_card-coment{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: white;
    padding-right: 23px;
    background: url(img/coment\ icon.svg) no-repeat right;
}
.top_card-desc{
    font-size: 16px;
     line-height: 24px;
     margin-bottom: 31px;
}
.top_card-more{
    padding: 12px 19px;
    background: rgba(0, 109, 254, 1);
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.top_card-more:hover, .top_card-more:focus, .top_card-more:active{
    background: #023f8e;
}
.top_card-thumb{
    width: 100%;
    display: block;
}
/*Top styles end*/

/*Videos styles start*/
.videos{
    width: 100%;
}
.videos_wrapper{
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}
.video_item{
    padding-top: 56.25%;
}
.video_element{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
/*Videos styles end*/


/*Footer styles start*/
.footer{
   background: #0e1d28 ; 
   padding: 119px 0px;
}
.footer_item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.footer_logo{
    width: 50%;
}
.footer_nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
}
.footer_menu-title{
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.footer_menu-link{
    color: white;
    font-weight: normal;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}
.footer_menu-link:hover, .footer_menu-link:focus, .footer_menu-link:active{
    opacity: 0.75;
}
/*Footer styles end*/







/*Media start*/
@media screen and (max-width: 960px){
    .benefits{
        margin-bottom: 75px;
    }
    .benefits_card{
        margin-bottom: 60px;
    }
    .search_form-field{
        margin-bottom: 25px;
    }
    .benefits_cards{
        padding: 0 15px;
        grid-column-gap: 35px;
    }
    .benefits_tittle{
        padding: 55px 15px;
    }
    .benefits_wrap{
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .places_card_size_lg{
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .places_card_size_sm{
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .tours_tour{
        grid-column-gap: 35px;
    }
    .tour_info{
        padding-left: 0;
    }
    .tour_title{
        margin-bottom: 15px;
    }
    .tour_desc{
        margin-bottom: 15px;
    }
    .top_cards{
        grid-column-gap: 25px;
        grid-row-gap: 55px;
    }
    .top_card{
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }
    .top_card-pic{
        margin-bottom: 25px;
    }
    .footer{
        padding: 60px 0;
    }
}
@media screen and (max-width: 767px){
    .section-tittle{
        margin-bottom: 25px;
    }
.section-tittle::after{
    width: 78px;
}
.header_burger{
    display: block;
}
.header_wrapper{
    padding-top: 28px;
}
.header_nav{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0e1d28;
    z-index: 10;
    padding: 75px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear;
}
.header_nav_active{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}
.header_item{
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
}
.header_item:last-child{
    margin-bottom: 0;
}
.header_link{
    font-size: 42px;
    line-height: 48px;
}
.header_nav-close{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
}
.header_nav-line{
display: block;
width: 100%;
height: 2px;
background-color: white;
position: absolute;
top: 50%;
}
.header_nav-line:first-child{
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
}
.header_nav-line:last-child{
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
}
.intro{
    padding-top: 125px;
}
.intro_tittle{
    font-size: 32px;
    line-height: 48px;
}
.intro_subtittle{
    font-size: 14px;
}
.search_form-field{
    margin-right: 0;
    width: 100%;
    padding-bottom: 12px;
    background: transparent url(/img/Oval.svg) no-repeat left 2px;
}
.search_form-field::-webkit-input-placeholder{
    font-size: 16px;
}
.search_form-field::-moz-placeholder{
    font-size: 16px;
}
.search_form-field:-ms-input-placeholder{
    font-size: 16px;
}
.search_form-field::-ms-input-placeholder{
    font-size: 16px;
}
.search_form-field::placeholder{
    font-size: 16px;
}
.search_form-submit{
    width: 100%;
}
.benefits{
    margin-bottom: 36px;
}
.benefits_card{
    -ms-grid-column-span: 3;
    grid-column: span 3;
    margin-bottom: 40px;
}
.benefits_card-pic{
    margin-bottom: 30px;
}
.benefits_card-tittle{
    margin-bottom: 12px;
}
.benefits_card-desc{
    margin-bottom: 20px;
}
.places{
    margin-bottom: 76px;
}
.places_card-pic_size_lg,.places_card-pic_size_sm{
    height: 230px;
}
.places_view-all{
    margin-bottom: 25px;
}
.places_caption{
    margin-bottom: 0;
}
.tours{
    margin-bottom: 76px;
}
.tour_pic, .tour_info{
    -ms-grid-column-span: 2;
    grid-column: span 2;
}
.tour_pic{
    margin-bottom: 12px;
}
.tour_pic_mob-first{
-ms-grid-row: -1;
    grid-row-start: -1;
}
.tours_tour{
    margin-bottom: 50px;
}
.top{
    margin-bottom: 76px;
}
.top_card{
    -ms-grid-column-span: 6;
    grid-column: span 6;
}
.top_card-stats{
    max-width: 386px;
}
.top_card-desc{
    margin-bottom: 15px;
}
.footer_logo{
    width: 100%;
    margin-bottom: 24px;
}
.footer_nav{
    width: 100%;
}
.footer_menu{
    width: 50%;
    margin-bottom: 24px;
}
}
@media screen and (max-width: 500px){
 .header_nav{
    padding: 75px 30px;
 }
}
/*Media end*/