/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v25-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v25-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
    color: #102746;
    margin: 0;
    padding: 0;

}
.wrapper{
    max-width: 1060px;
    margin: 0 auto;
}

/* Header styles start */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header_list{
    display: flex;
    flex-wrap: wrap;
}

.header_item{
    margin-right: 82px ;
}

.header_item:last-child{
    margin-right: 0;
}

.header_link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
}
/* Header styles end */

/* Intro styles start */
.intro{
    min-height: 100vh;
    background-size: cover;
    background: url(/img/Image.jpg) no-repeat  center;
    padding-top: 263px;
}
.intro_tittle{
    margin-bottom: 22px;
    max-width: 619px;
    font-weight: 500;
    font-size: 50;
    line-height: 60px;
   color: white;
}
.intro_subtittle{
    color: white;
    font-size: 16px;
    line-height: 24px;
    max-width: 546px;
    margin-bottom: 59px;
}
/* Intro styles end */

